<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="" id="app">
        <input type="text" @keyup.enter="addTask" v-model="currentTask">
        <ul>
            <li v-for="task in tasks" :class="{'strike': task.isComplited}">
                <input type="text" v-if="task.isEditing" @keyup.enter="editTask(task.text)" v-model="editValue">
                <span v-else @click="task.isComplited = !task.isComplited">{{task.text}}</span>
                <button @click=changeEditing(task.text)>*</button>
                <button @click=removeTask(task.text)>X</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/app.js"></script>
</body>

</html>